//= require _vendor/pygment_solarized_light
//= require _vendor/codemirror-solarized
//= require codemirror

@import "makers_styles";

.align-left {
  text-align: left;
}

.code-editor {
  margin-bottom: 27px;
}

.one-width-row {
  @include ma-columns(1);
  .column {
    padding: 0 modular-scale(1);
  }
}
