---
title: "Apply to Makers Academy"
---


= stylesheet_link_tag "codemirror"

:javascript
  Opal.load('apply');

%section.hero-splash{style: "background-image: url(#{image_path("/backgrounds/B5.jpg")});"}
  .container
    .centered-row
      %h1 Apply to Makers Academy
      %p
        Can’t wait to get started? Take our online test below.
        %br
        Don't know Ruby? Check out
        %a{:href=> "https://www.codecademy.com/learn/ruby"} Codecademy Ruby Track

%section
  .container
    .two-width-row
      .column
        .header-container
          %h3 Instructions
        %p#instructions.align-left
          Try to get the string 'john' in the output
      .column
        %h4 Enter your Ruby code below:
        #editor.code-editor{:style => "padding:0"}
        %h4 To make the following work:
        #viewer.code-editor{:style => "padding:0; "}
        %button#run_code.button Run it Now (output will be shown below)
        #output.code-editor{:style => "padding:0"}


