---
title: "Apply to Makers Academy"
---


= stylesheet_link_tag "codemirror"

:javascript
  Opal.load('apply');
  Opal.load('ready');

%section.hero-splash{style: "background-image: url(#{image_path("/backgrounds/B5.jpg")});"}
  .container
    .centered-row
      %h1 Apply to Makers Academy
      %p
        Can’t wait to get started? Take our online Ruby test below.
        %br
        Don't know Ruby? Check out
        %a{:href=> "https://www.codecademy.com/learn/ruby"} Codecademy Ruby Track

%section
  .container
    .header-container
      %h3 Your journey starts here!
    .two-width-row
      .column.align-left
        %h4
          Step
          %span#stage-number
        #viewer.code-editor{:style => "padding:0; "}
        %p#instructions.align-left
        .button-row
          %button#run_code.button Run it now (output will be shown below)
      .column.align-left
        %h4 Enter your Ruby code below:
        #editor.code-editor{:style => "padding:0"}
    .one-width-row
      #output-wrapper.column.align-left
        %h4 Result:
        #output.code-editor{:style => "padding:0"}


